USE [master]
GO
/****** Object:  Database [Magazzino]    Script Date: 30/07/2021 12:46:51 ******/
CREATE DATABASE [Magazzino]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Magazzino', FILENAME = N'C:\Users\utente\Magazzino.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Magazzino_log', FILENAME = N'C:\Users\utente\Magazzino_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Magazzino].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Magazzino]
GO
USE [Magazzino]
GO
/****** Object:  Table [dbo].[Prodotto]    Script Date: 30/07/2021 12:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prodotto](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CodiceProdotto] [nvarchar](20) NULL,
	[Categoria] [nvarchar](20) NULL,
	[Descrizione] [nvarchar](500) NULL,
	[PrezzoUnitario] [numeric](10, 2) NULL,
	[QuantitaDisponibile] [int] NULL,
 CONSTRAINT [PK_Prodotto] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Vincolo_UNIQUE_CodiceProdotto] UNIQUE NONCLUSTERED 
(
	[CodiceProdotto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
